.icon-parametros{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -516px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }
  
.iconParametros{
  width: 16px;
  height: 16px;
  background: url(/cadastro-web/img/icons.png) -516px
  0px no-repeat;
  left: 0px;
  padding: 3px;
}
  
.cadastro-web {
    width: 32px;
    height: 34px;
    background: url(/cadastro-web/img/menu.png) 0px 0px no-repeat;
    border: 0px;
    margin: 0 auto;
}

.menu_cadastro {
  --bs-dropdown-min-width: 17rem;
}

.secom-web {
    width: 32px;
    height: 34px;
    background: url(/cadastro-web/img/shopping.png) 0px 0px no-repeat;
    border: 0px;
    margin: 0 auto;
}

.menu_secom {
  --bs-dropdown-min-width: 16rem;
}

.sispa-web {
    width: 32px;
    height: 34px;
    background: url(/cadastro-web/img/menu.png) -32px 0px no-repeat;
    border: 0px;
    margin: 0 auto;
}
.menu_sispa {
  --bs-dropdown-min-width: 14rem;
}

.patrimonio-web {
  margin-top: 1px;
  background: url(/cadastro-web/img/placa-patrimonio.png) 0 0 no-repeat;
  padding: 16px 50px;
}

.menu_patrimonio {
  --bs-dropdown-min-width: 36rem;
}

.sispd-web {
    width: 32px;
    height: 34px;
    background: url(/cadastro-web/img/sispd.png) 0px 0px no-repeat;
    border: 0px;
    margin: 0 auto;
}

.menu_sispd {
  --bs-dropdown-min-width: 12rem;
}

.simav-web {
      width: 32px;
      height: 34px;
      background: url(/cadastro-web/img/simav.png) 0px 0px no-repeat;
      border: 0px;
      margin: 0 auto;
  }

.sci-web {
    width: 32px;
    height: 34px;
    background: url(/cadastro-web/img/letter.png) 0px 0px no-repeat;
    border: 0px;
    margin: 0 auto;
}

.pne-web {
    width: 32px;
    height: 34px;
    background: url(/cadastro-web/img/diario.png) 0px 0px no-repeat;
    border: 0px;
    margin: 0 auto;
}

  .menu_simav {
    --bs-dropdown-min-width: 12rem;
  }
  
  .dropdown-item {
    cursor: pointer;
  }
  
  .x-btn-text img {
      left: 21px !important;
  }
  
  .x-btn-text {
      background-position: center 0;
      background-repeat: no-repeat;
      padding-top: 34px !important;
  }
  
  .x-btn button {
      font: normal 11px arial,tahoma,verdana,helvetica;
      color: #333;
      border: 0 none;
      background: transparent;
      padding-left: 3px;
      padding-right: 3px;
      cursor: pointer;
      margin: 0;
      overflow: hidden;
      width: auto;
      -moz-outline: 0 none;
      outline: 0 none;
  }
  
  .wideButton{
      padding: 0px 30px;
  }
  .iconPessoa{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -66px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }
  .iconUsuario{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -66px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }
  
  .iconPerfis{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -677px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }
  
  .iconLinhas{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -420px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }
  
  .iconEstacoes{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -115px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }
  
  .iconPesquisar{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -435px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }
  
  .iconRelatorio{
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -435px
    0px no-repeat;
    left: 0px;
    padding: 3px;
  }

  .iconCarta {
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -644px 0px no-repeat;
    position: absolute;
    left: 5px;
    padding: 3px;
  }
  
  .iconEscrever {
    width: 16px;
    height: 16px;
    background: url(/cadastro-web/img/icons.png) -660px 0px no-repeat;
    position: absolute;
    left: 5px;
    padding: 3px;
  }
